* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'montserrat', sans-serif;
    overflow-x: hidden;
    z-index: auto;
}

.popupContainer {
    position: relative;
    top: 0vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 25px 100px 25px;
    background-color: #f4f9ff;
    opacity: 1;
    z-index: 10;
    overflow: hidden;
    position: fixed;

.helloPopup {
    position: relative;
    right: 0;
    transition: right 1s ease-in-out;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    padding: 25px 35px;
    border-radius: 10px;
    box-shadow: 0px 25px 20px #0086ff20;
    min-width: 300px;
    width: 370px;
    align-items: center;
    border-bottom: 2px solid #0086ff;
    img {
        width: 45px;
        height: auto;
        margin-right: 35px;
    }
    .textAlign {
        display: flex;
        flex-direction: column;
        h1 {
            font-size: 20px;
            color: #353535;
        }
        p {
            font-size: 14px;
            color: #7a7a7a;
        }
    }
}
}

.animateOut {
    position: absolute;
    top: -100vh !important;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 1s ease-in-out;
}

.popupOut {
    position: relative;
    right: -100vw !important;
    transition: right 1s ease-in-out;
}

// Main Css

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 30px 100px;
    background-color: #ffffff;
    box-shadow: 0 10px 20px #35353516;
    align-items: center;
    z-index: 2;
    img {
        height: 40px;
    }
    a {
        text-decoration: none;
        color: #0086ff;
        font-size: 14px;
        padding: 15px 15px;
        transition: .3s ease-in-out;
    }
    a:hover {
        background-color: #f4f9ff;
        border-radius: 5px;
        font-weight: 500;
        transition: background-color .3s ease-in-out;
    }   
    a:active {
        background-color: #0086ff16;
        border-radius: 5px;
        font-weight: 500;
    }
    .mobileMenu {
        display: none
    }
}

@media screen and (max-width: 767px) {
    .forMobile {
        background-color: #ffffff;
        box-shadow: 0px -15px 20px #07365f16;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        z-index: 200;
        text-align: center;
        transition: .3s ease-in-out;
        padding: 0px 0px 30px 0px;
        a {
            padding: 20px 0px;
            width: 100%;
        }
    }
    nav {
        padding: 30px 50px;
        .mobileMenu{
            display: flex;
            flex-direction: column;
            width: 25px;
            height: 30px;
            justify-content: space-evenly;
            .line1, .line2, .line3 {
                background-color: #0086ff;
                border: 1px solid #0086ff;
                border-radius: 3px;
                transition: .3s ease-in-out;
            }
        }
    }
    .hide {
        display: none;
    }
    .onClick {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40px; 
        height: 40px;
        z-index: 1;
        background-color: #ffffff;
        box-shadow: 0px 10px 10px #35353516;
        border-radius: 40px;
        position: relative;
        top: -2.9vh;
        .line1 {
            z-index: 5;
            transform: rotateZ(45deg);
            transition: .3s ease-in-out;
            background-color: #0086ff;
            border: 1px solid #0086ff;
            width: 20px;
            position: relative;
            top: 2px;
        }
        .line2 {
            z-index: 5;
            transform: rotateZ(-45deg);
            transition: .3s ease-in-out;
            background-color: #0086ff;
            border: 1px solid #0086ff;
            width: 20px;
        }
    }
}

#leiterlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;
.leiter {
    background-color: #fff;
    box-shadow: 0px 20px 20px #35353516;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 25px 20px 25px;
    margin: 50px 20px;
    min-width: 250px;
    .imgdiv{
        height: 100px;
        width: 100px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        overflow: hidden;
        justify-content: center;
        border: 5px solid #fff;
        box-shadow: 0px 10px 10px #35353516;
        position: relative;
        top:-6vh;
    }
    .leiter-name {
        margin-top: -25px;
        font-size: 20px;
        color: #353535;
        margin-bottom: 5px;
        span {
            color: #7a7a7a;
        }
    }
}
}

#leiterPopup{
    position: fixed;
    bottom: 0px;
    left: 50%;
    margin-left: -45vw;;
}

.popupBG {
    background-color: #fff;
    box-shadow: 0px -20px 20px #35353516;
    padding: 0px 25px 50px 25px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 90vw;
    margin: 0 auto;
    transition: position .3s ease-in-out;
}

.LeiterPopup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .Pupupimg {
        border-radius: 75px;
        overflow: hidden;
        width: 150px;
        height: 150px;
        position: relative;
        top: -7vh;
        border: 5px solid #fff;
        box-shadow: 0px 20px 20px #35353516;
    }
    p {
        line-height: 36px;
        color: #353535;
    }
    .position {
        position: relative;
        top: -17vh;
        padding: 10px 20px;
        background-color: #f1425f;
        color: white;
        border-radius: 20px;
    }
    .close {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 30px;
        height: 40px;
        width: 40px;
        margin: 0 auto;
        box-shadow: 0px 20px 20px #35353516;
        z-index: 150;
        img {
            width: 16px;
            height: 16px;
        }
    }
}

.hidePop {
    display: none;
}